[data-sy-reveal="lines"],
[data-sy-reveal="words"] {
  opacity: 0;
  font-kerning: none;
  text-rendering: optimizespeed;
}

[data-sy-reveal="lines"].is-in,
[data-sy-reveal="words"].is-in {
  opacity: 1;
}

[data-sy-reveal="lines"] .i-mask,
[data-sy-reveal="words"] .i-mask {
  display: inline-block;
  clip-path: inset(8% -10% -8%);
  font-size: inherit !important;
}

[data-sy-reveal="lines"] .i,
[data-sy-reveal="words"] .i {
  display: inline-block;
  will-change: transform;
  transform: translateZ(0);
  font-size: inherit !important;
}

[data-sy-reveal="lines"].u-heading .i-mask,
[data-sy-reveal="words"].u-heading .i-mask {
  clip-path: inset(11% -1% -11%);
}

[data-sy-reveal="lines"] .i-mask {
  display: block;
}

/* ugly fix for nested split-type styling */
[data-sy-reveal] mark,
[data-sy-reveal] a,
[data-sy-reveal] strong,
[data-sy-reveal] em,
[data-sy-reveal] code {
  display: inline !important;
  position: static !important;
}
